button {
  background-color: var(--header-background-color);
  font-weight: 500;
  border: none;
  border-radius: 14px;
  padding: 1rem;
  color: inherit;
  transition: transform 100ms linear;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
