.home-bttn {
  background-color: #ffffff20;
  padding: 1rem;
  border-radius: 14px;
  transition: transform 200ms ease-in-out;
  font-weight: 500;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.home-img-wrapper {
  display: grid;
  isolation: isolate;
  place-items: center;
  grid-template-areas: "stack";
  margin-block-start: 2rem;
  min-inline-size: min(5vw, 400px);
}

.home-img-text-wrapper {
  position: relative;
  grid-area: stack;
  color: black;
  font-weight: 500;
  opacity: 0;
  transition: opacity 200ms ease-in 400ms;
  z-index: 1;

  .home-img-name {
    font-size: clamp(1rem, 1.2vw, 3rem);
  }

  .home-img-age,
  .home-img-state {
    font-size: clamp(1rem, 1.2vw, 2.3rem);
  }

  .home-img-hobbies {
    max-inline-size: var(--small-measure);
    font-size: clamp(14px, 0.5vw, 2.3rem);
  }
}

.home-img-bg {
  grid-area: stack;
  inline-size: clamp(200px, 25vw, 400px);
  block-size: clamp(200px, 25vw, 400px);
}

.home-img-vinicius {
  grid-area: stack;
  inline-size: clamp(200px, 25vw, 400px);
  block-size: clamp(200px, 25vw, 400px);

  transform: translateY(5px);
  transition: 500ms 200ms ease-in-out;
  z-index: 2;

  &:hover {
    transform: rotate(90deg);
    opacity: 0;
  }
}

/*
  Seleciona o elemento '.home-img-text-wrapper'
  quando '.home-img-wrapper' estiver com o estado hover ativo.
*/

.home-img-wrapper:hover :where(.home-img-text-wrapper) {
  opacity: 1;
}

/*
  Seleciona o elemento '.home-img-vinicius' e
  '.home-img-text-wrapper' quando '.home-img-wrapper'
  estiver focado.
*/
.home-img-wrapper:focus :where(.home-img-vinicius) {
  transform: rotate(90deg);
  opacity: 0;
}

.home-img-wrapper:focus :where(.home-img-text-wrapper) {
  opacity: 1;
}

@container body (width < 890px) {
  .home-content-wrapper {
    text-align: center;
  }

  .home-img-text-wrapper {
    display: none;
  }

  .home-img-vinicius {
    transition: none;
    opacity: 1;

    &:hover {
      transform: rotate(0) translateY(5px);
      opacity: 1;
    }
  }

  .home-img-wrapper:focus :where(.home-img-vinicius) {
    transform: rotate(0) translateY(5px);
    opacity: 1;
  }
}
