.header {
  inline-size: min(fit-content, var(--long-measure));
  background-color: var(--header-background-color);
  border-start-start-radius: 24px;
  border-start-end-radius: 24px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav {
  font-size: clamp(1rem, 4vw, 1.2rem);
  padding: 1.75rem;
}

.nav-mobile {
  display: none;
}

.nav-items-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.nav-item {
  position: relative;
  font-weight: 500;

  &::before {
    content: "";
    bottom: -10%;
    inline-size: 100%;
    block-size: 3px;
    position: absolute;
    background-color: white;
    border-radius: 14px;
    transform-origin: left;
    transform: scaleX(0);

    transition: transform 250ms ease-in;
  }

  &:hover {
    &::before {
      transform: scale(1);
    }
  }
}

.social-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
}

.social-content-wrapper {
  max-inline-size: min(10vw, 54px);
}

.social-content-wrapper > * + * {
  margin-block-start: 1.5rem;
}

.social-item {
  transition: transform 200ms ease-in;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

/* Styles for mobile */
@container body (width < 555px) {
  .header {
    display: none;
  }

  .header-mobile {
    display: none;
    min-inline-size: 100dvw;
    top: 0;
    right: 0;

    position: absolute;
    isolation: isolate;

    transform: translateY(-100%);

    transition-property: display transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
  }

  .open + .header-mobile {
    display: block;

    transform: translateY(0);

    @starting-style {
      transform: translateY(-100%);
    }
  }

  .menu-toggle {
    display: block;
    position: absolute;
    padding: 1.5rem 1rem;
    border: 0;
    cursor: pointer;
    z-index: 1;
  }

  .hamburger {
    background-color: transparent;
    position: absolute;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    background-color: white;
    inline-size: 1.75em;
    block-size: 3px;
    border-radius: 3px;
    transition: all 200ms ease-in 100ms;
  }

  .hamburger::after {
    transform: translateY(3px);
  }

  .open .hamburger::before {
    transform: rotate(-45deg);
    background-color: black;
  }

  .open .hamburger::after {
    transform: translateY(-3px) rotate(45deg);

    background-color: black;
  }

  .nav-mobile {
    display: block;
    background-color: var(--primary-color);
    padding: 1rem 0;
    border-end-start-radius: 24px;
    border-end-end-radius: 24px;

    color: black;
  }

  .nav-items-wrapper {
    flex-direction: column;
  }

  .nav-item {
    max-inline-size: fit-content;
    margin: auto;
    font-size: 1.5rem;
  }

  .nav-item::before {
    background-color: black;
  }
}

@media (prefers-reduced-motion) {
  .header-mobile {
    transition: none;
  }

  .hamburger::before,
  .hamburger::after {
    transition: none;
  }
}
