.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: #ffffff20;
  border-radius: 14px;
  padding: 1.5rem;

  max-inline-size: min(80%, var(--long-measure));
  text-align: center;

  margin-block-start: max(5vw, 1rem);
}

.skill-item {
  flex: 1 1 fit-content;
  transition: 200ms ease-in;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: var(--primary-color);
  }
}

@container body (width < 890px) {
  .skills-content-wrapper {
    text-align: center;
  }
}
