.creations-list-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-inline-size: 100ch;
  margin-block-start: 3rem;
}

.creations-list-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: safe;
  gap: 2rem;
  margin-block-end: 1rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.creations-list-wrapper ul::-webkit-scrollbar {
  display: none;
}

.creation-item {
  min-inline-size: 50%;
  transition: 200ms ease;
  scroll-snap-align: center;
}

.creation-img-wrapper {
  max-inline-size: fit-content;
  margin: 0 auto;
  position: relative;
}

.creation-img {
  border-radius: 14px;
}

.creation-img-caption {
  min-inline-size: 90%;
  min-block-size: 90%;
  background-color: hsla(0, 0%, 10%, 0.8);
  position: absolute;
  padding: 1rem;
  inset: 0;
  opacity: 0;
  border-radius: 14px;
  transition: opacity 200ms ease-in;
  overflow: clip;
  font-size: clamp(10px, 1.4vw, 1rem);
  text-align: justify;
  text-overflow: ellipsis;
  text-rendering: optimizeLegibility;

  & > * + * {
    margin-block-start: 1em;
  }

  .creation-title {
    font-size: clamp(1rem, 2vw, 2.5rem);
  }

  .creation-description {
    font-size: clamp(10px, 1.4vw, 1rem);
  }

  .creation-caption-link {
    display: inline-block;
    font-weight: 500;
    border-radius: 14px;
    padding: 0.5em 1em;
    background-color: var(--primary-color);
    color: black;
    transition: transform 200ms ease;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

li:hover .creation-img-caption {
  opacity: 1;
}

li:focus .creation-img-caption {
  opacity: 1;
}

.arrow-left-bttn,
.arrow-right-bttn {
  cursor: pointer;
}

@container body (width < 1400px) {
  .creations-list-wrapper ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .creation-img {
    inline-size: 27vw;
    block-size: 27vw;
  }

  .arrow-left-wrapper,
  .arrow-right-wrapper {
    display: none;
  }
}

@container body (width < 690px) {
  .creation-img-caption {
    text-align: center;
    align-content: center;
  }

  .creation-description {
    display: none;
  }
}

@media (prefers-reduced-motion) {
  .creation-item {
    transition: none;
  }

  .creation-img-caption {
    transition: none;
  }

  .creation-caption-link {
    transition: none;
  }
}
